<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to the foxweb</title>
  <link rel="stylesheet" href="assets/css/core.min.css">
</head>
<body>
  <section class="c-system-status">
    <h2>Plex is having issues. There is no guarantee your files will play. I am attempting a fix but with no ETA.</h2>
    <ul>
      <li class="c-system-status__status--down">Foxweb Network</li>
      <li class="c-system-status__status--unstable">Plex</li>
      <li class="c-system-status__status--down">Movie Downloader</li>
      <li class="c-system-status__status--down">TV Show Downloader</li>
    </ul>
  </section>
  <h1>Welcome to the Foxweb</h1>
  <p>This is the first release of Foxweb, so please forgive me for it being rough around the edges</p>
  <h2>What is this for?</h2>
  <p>My network has a few things on it that I share with you lovely people but as I'm a) always tinkering and b) running on equipment that I cobbled together from spare parts. Things can go wrong. When they do you lot usually message me on FB and I'll either have to stop what I'm doing to fix the issue or I'll say I'll do it later and then forget.</p><p>So this is where Foxweb comes in. There are a list of links below that will let you do a few things. (the links will be self-explanitory). The main one I want you to look at is the 'support requests' link as that will allow you to raise issues that you find and I'll then have a list of things to take care of.</p>
  <p>and yes... this does mean that I want you to stop messaging me on FB asking me to fix things immediately. However I'll try to make sure I fix any issues within a week. If you want more reliability than that, I'm afraid you'll have to build your own system yourselves</p>
  <h2>I get it. Shut up and give me the links!</h2>
  <p>Here you go.</p>
  <p>Point of note though, as this is a first release. Not all the links work. The ones in red, will go nowhere. I'll get them working as soon as I can.</p>
  <ul>
    <li><a href="https://foxnet.lighthouseapp.com/projects/137358-foxweb-support/overview">Raise a support request</a></li>
    <li class="status-disabled"><a href="//app.foxleigh.me:5050">Add a Movie to the download queue</a></li>
    <li class="status-disabled"><a href="//app.foxleigh.me:8989">Add a TV show to the download queue</a></li>
    <li class="status-disabled"><a href="//app.foxleigh.me:8080">Check the download queue</a></li>
    <li><a href="//plex.tv/web">Open Plex in your browser</a></li>
  </ul>
</body>
</html>
