.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-body {
  padding: 2rem;
  text-align: left;
}

.App-intro {
  font-size: large;
}

.c-system-status {
  position: absolute;
  top: 1rem;
  right: 1rem;
  list-style:none;
}

.c-system-status li {
  padding: .5rem;
  margin: 1px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.c-system-status--up {
  background-color: green
}

.c-system-status--unstable {
  background-color: orange;
}

.c-system-status--down {
  background-color: red;
}

.c-useful-links {
  list-style:none;
  margin:0;
  padding: 0;
}

.c-useful-links li {
  padding-right: 1rem;
  display: inline-block;
}

.c-useful-links a {
  color: blue;
  text-decoration: none;
  background-color: #f0f0f0;
  padding: .5rem;
}

.c-useful-links a:hover {
  background-color: #ccc;
}

.c-useful-links .status-disabled a{
  color: red;
  cursor: none;
  pointer-events: none;
}
